/* Custom color class */
.custom-bg-color {
    background-color: #ffffff;
    color:#000000
  
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #E36414;
    color: white;
  }
  
  .active {
    background-color: #E36414;
  }
  
  body{
    background-color:#F4D58D;
  }

.purplecontainer{
  background-color: #5F0F40;
  float:left;
  color:white;
  font-size: 20px;
}

  


